#test{
    border-radius: 5%;
    background-color: #cccccc;
}

#navbar{
    border-bottom: 1px solid #7a7a7a;
}

#navbar a.active{
    border-bottom: 1px solid #050505;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item{
    margin: 0 5em;
}

#part1{
    height: 100%;
    left: 0px;
    top:100%;
    position: relative;
    background-color: #aaaaaa;
}

.rounded-circle{
    height: 25%;
    left: 30%;
    position: relative;
}

.red{
    border-radius: 50%;
    height: 25%;
    position: relative;
}

.green{
    border-radius: 50%;
    height: 25%;
    right: 40%;
    position: relative;
}

.fundo{
    height: 90%;
    width: 100%;
    left: 0px;
    position: absolute;
    opacity: calc(30%);
}

.mard{
    height: 40%;
    width: 25%;
    left: 37.5%;
    top: 30%;
    position: absolute;
    opacity: calc(80%)
}

.carrosel{
    height: 100%;
    width: 100%;
    left: 0px;
    top: 200%;
    position: absolute;
}

.row{
    left: 0px;
    position: relative;
}

.rodape{
    width: 100%;
    height: 10%;
    background-color: #4f4f4f;
    left: 0px;
    bottom: 0px;
    position: fixed;
}

.wrapper{
    background-color: #aaaaaa;
}

/*slide*/
#slider{
    margin-top: 8em;
    margin-bottom: 1em;
}

#slider .carousel-caption {
    bottom: 4em;
}

#slider .carousel-caption h5 {
    font-size: 2.5em;
    text-shadow: #000 2px 2px;
    top: 3em;
}

#slider-container {
    background-color: #c5c5c5;
    top: 206%;
    position: absolute;
}

#alpha {
    left: 23%;
    position: relative;
}

#beta{
    left: 28%;
    position: relative;
}

#omega{
    left: 33%;
    position: relative;
}

#five{
    right: 0%;
    top: 35%;
    position: relative;
}

#world{
    left: 30%;
    position: relative;
}

.final{
    top: 160%;
    right: 20%;
    position: absolute;
}

#footer{
    padding: 3em 2em;
    background-color: #7a7a7a;
}

#footer-top{
    margin-bottom: 2em;
}

#footer-top,
#footer-top i{
    color: #fff;
}

#social-icons {
    text-align: right;
}

#social-icons i{
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
}

#social-icons i:hover {
    color: #000000;
}

.secondary-color{
    color:#000000;
}

#footer-details{
    margin-bottom: 3em;
}

#news-container,
#contact-container,
#link-container{
    padding: 0;
    border: 0;
    margin-bottom: 2em;
}

#footer-details h4{
    color: #fff;
    margin-bottom: 1.5em;
}

#links-container li{
    margin-bottom: 0.5em;
}

#links-container a{
    text-decoration: none;
}

#links-container a:hover{
    color: #fff;
}

#footer-bottom {
    border-top: 1px solid #cccccc;
    padding-top: 2em;
}

@media (min-width: 768px) {
    #news-container {
        padding-right: 2em;
    }
    #links-container {
        padding-left: 2em;
    }
    #contact-container {
        padding: 0 2em;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
    }
}
